$font-families: (
  'primary': #{'Outfit', sans-serif},
);

$font-weights: (
  'light': 300,
  'regular': 400,
  'semi-bold': 600,
);

$font-sizes-desktop: (
  'h1': 1.375rem,          // 22px
  'text': 1.125rem,        // 18px
  'text-sm': 1rem          // 16px
);

$font-sizes-mobile: (
  'h1': 1.375rem,          // 22px
  'text': 1.125rem,        // 18px
  'text-sm': 0.9375rem     // 15px
);